<h1>Products - Total: <%= @products.count %></h1>
<%= button_to 'Manual Sync', sync_path, method: :get, class: 'btn btn-primary' %>
<% if @products.any? %>
  <table style="text-align: center;">
    <thead  style="text-align: center;">
      <tr>
        <th>Product Name</th>
        <th>Code</th>
        <th>Barcode</th>
        <th>Url</th>
        <th>Quantity</th>
        <th>Categories</th>
        <th>Packaging</th>
        <th>Brands</th>
        <th>Image_Url</th>
        <th>Imported At</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
            <td><%= link_to product.product_name, product_path(product) %></td>
            <td><%= product.code %></td>
            <td><%= product.barcode %></td>
            <td><%= link_to "Click to see all", product.url %></td>
            <td><%= product.quantity %></td>
            <td>
              <ul>
                <% unless product.categories.nil? %>
                  <% product.categories.split(',').each do |item| %>
                    <li><%= item %></li>
                  <% end %>
                <% end %>
              </ul>
            </td>
            <td>
              <ul>
                <% unless product.packaging.nil? %>
                  <% product.packaging.split(',').each do |item| %>
                    <li><%= item %></li>
                  <% end %>
                <% end %>
              </ul>
            </td>
            <td><%= product.brands %></td>
            <td><%= image_tag product.image_url, style: "height: 120px;" %></td>
            <td><%= product.imported_t.strftime('%m/%d/%Y - %H:%M') %></td>
            <td><%= product.status %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @products %>

<% else %>
  <p>No products found.</p>
<% end %>
