<h1>Product Details</h1>
<div>
  <strong>Product Name</strong>
  <%= @product.product_name %>
</div>

<div>
  <strong>Code</strong>
  <%= @product.code %>
</div>

<div>
  <strong>Barcode</strong>
  <%= @product.barcode %>
</div>

<div>
  <strong>Url</strong>
  <%= link_to "Click to see all informations", @product.url %>
</div>

<div>
  <strong>Quantity</strong>
  <%= @product.quantity %>
</div>

<div>
  <strong>Categories</strong>
  <%= @product.categories %>
</div>

<div>
  <strong>Packaging</strong>
  <%= @product.packaging %>
</div>

<div>
  <strong>Brands</strong>
  <%= @product.brands %>
</div>

<div>
  <strong>Imported At</strong>
  <%= @product.imported_t %>
</div>

<div>
  <strong>Status</strong>
  <%= @product.status %>
</div>

<div>
  <%= image_tag @product.image_url %>
</div>

<%= link_to 'Back', products_path %>
